:root {
  --slider-width: 340px;
  --slide-width: 100px;
  --slide-dist: 10px;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-container {
  width: var(--slider-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  margin: 20px 10px;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.slider-item {
  min-width: var(--slide-width);
  height: 200px;
  border-radius: 10px;
}

.slider-item:not(:last-child) {
  margin-right: var(--slide-dist);
}

.slider-item:nth-child(3n + 1) {
  background-color: #fb6962;
}

.slider-item:nth-child(3n + 2) {
  background-color: #79de79;
}

.slider-item:nth-child(3n + 3) {
  background-color: #a8e4ef;
}

.slider-main-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
}

.btn-main {
  min-width: 180px;
  padding: 0 20px;
  margin: 0 5px;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
}

.btn-main:hover {
  background: #1d49aa;
}

.btn-main:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px #cbd6ee;
          box-shadow: 0 0 0 4px #cbd6ee;
}

.btn-main[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: default;
}

.btn-side {
  background-color: transparent;
}

.btn-side[disabled] path {
  stroke: #d2d5db;
}

.side-arrow path {
  stroke: #4676d7;
}
