// === VARIABLES ===
:root {
  --slider-width: 340px;
  --slide-width: 100px;
  --slide-dist: 10px;
}

$pastel-red: #fb6962;
$pastel-green: #79de79;
$pastel-blue: #a8e4ef;
$pastel-yellow: #fcfc99;
// === / VARIABLES ===

// === COMMONS ===
*,
::before,
::after {
  box-sizing: border-box;
}

.wrapper {
  width: var(--slider-width);
  margin: 0 auto;
}
// === / COMMONS ===

// === SLIDER ===
.slider-container {
  overflow-x: hidden;
}

.slider-track {
  display: flex;
  transition: 0.2s;
}

.slider-item {
  min-width: var(--slide-width);
  height: 200px;
  border-radius: 10px;

  &:not(:last-child) {
    margin-right: var(--slide-dist);
  }

  &:nth-child(3n + 1) {
    background-color: $pastel-red;
  }

  &:nth-child(3n + 2) {
    background-color: $pastel-green;
  }

  &:nth-child(3n + 3) {
    background-color: $pastel-blue;
  }
}

.slider-buttons {
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.btn {
  flex: 1 1 auto;
  height: 30px;
  border: none;
}
// === / SLIDER ===
