// === VARIABLES ===

:root {
  --slider-width: 340px;
  --slide-width: 100px;
  --slide-dist: 10px;
}

$pastel-red: #fb6962;
$pastel-green: #79de79;
$pastel-blue: #a8e4ef;
$pastel-yellow: #fcfc99;

$button-color: #4676d7;
$button-hover-color: #1d49aa;
$button-focus-color: #cbd6ee;
$button-disabled-color: #6c7589;
$button-text-disabled-color: #d2d5db;

// === / VARIABLES ===

// === COMMONS ===
*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// === / COMMONS ===

// === SLIDER ===

.slider-container {
  width: var(--slider-width);
  display: flex;
  overflow-x: hidden;
  margin: 10px;
}

.slider-track {
  display: flex;
  transition: 0.2s ease;
}

.slider-item {
  min-width: var(--slide-width);
  height: 200px;
  border-radius: 10px;

  &:not(:last-child) {
    margin-right: var(--slide-dist);
  }

  &:nth-child(3n + 1) {
    background-color: $pastel-red;
  }

  &:nth-child(3n + 2) {
    background-color: $pastel-green;
  }

  &:nth-child(3n + 3) {
    background-color: $pastel-blue;
  }
}

// === / SLIDER ===

// === BUTTONS ===

.slider-main-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  appearance: none;
  border: none;
  cursor: pointer;
}

.btn-main {
  min-width: 180px;
  padding: 0 20px;
  margin: 0 5px;
  border: 0;
  border-radius: 5px;
  background: $button-color;
  color: white;
  padding: 8px 16px;
  font-size: 16px;

  &:hover {
    background: $button-hover-color;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px $button-focus-color;
  }

  &[disabled] {
    color: $button-text-disabled-color;
    background: $button-disabled-color;
    cursor: default;
  }
}

.btn-side {
  background-color: transparent;
}

.arrow {
  &_left {
    transform: scaleX(-1);
  }
}

.side-arrow {
  height: 80px;
  width: 50px;

  &_left {
    transform: scaleX(-1);
  }
}

// === / BUTTONS ===
